 <div class="container">
 <div class="container2">
 <div class="title">
  NO SUBCULTURE,NO LIFE 
  </div>
  <div class="box">
  <%= image_tag "logo.png",size:'100x100' %>
  </div>
  </div>
  <div class="text">
  Let's find your favorite comics and anime
  </div>
  <div class="link">

  <%= link_to("Click Here!", sindans_path,{class:"link1"}) %>

</div>