 <div class="container">
 <div class="title">
 題名
 </div>
 <div class="text">
 Let's find your favorite comics and anime
 </div>
 <div class="link">

 <%= link_to("探してみる！", sindans_path,{class:"link1"}) %>
 </div>
 </div>